@using Data
<tr>
    <td>@Data?.Week</td>

    <td>@Data?.Month</td>

    <td class="text-right text-gray-800" style="background-color: @Data?.ColorMonday">
        @Data?.Monday?.ToString("#,##0")</td>

    <td class="text-right text-gray-800" style="background-color: @Data?.ColorTuesday">
        @Data?.Tuesday?.ToString("#,##0")</td>

    <td class="text-right text-gray-800" style="background-color: @Data?.ColorWednesday">
        @Data?.Wednesday?.ToString("#,##0")</td>

    <td class="text-right text-gray-800" style="background-color: @Data?.ColorThursday">
        @Data?.Thursday?.ToString("#,##0")</td>

    <td class="text-right text-gray-800" style="background-color: @Data?.ColorFriday">
        @Data?.Friday?.ToString("#,##0")</td>

    <td class="text-right text-gray-800" style="background-color: @Data?.ColorSaturday">
        @Data?.Saturday?.ToString("#,##0")</td>

    <td class="text-right text-gray-800" style="background-color: @Data?.ColorSunday">
        @Data?.Sunday?.ToString("#,##0")</td>

    <td class="text-right" data-color="">
        @Data?.Weekly?.ToString("#,##0")
    </td>
</tr>

@code {
    private IEnumerable<string> countries;

    [Parameter]
    public Covid19WeeklyData Data { get; set; }
}
