@using Data
<td class="text-right text-gray-800"
    style="background-color: @_heatmapmetadata.GetColorAtAsHex(Value)" 
    title=@(Date.ToString("yyyy-MM-dd")) title:format="yyyy-MM-dd">

    @Value.ToString("#,##0")

</td>

@code {
    [Parameter]
    public double Value { get; set; }
    [Parameter]
    public DateTime Date { get; set; }

    [CascadingParameter]
    protected HeatmapMetadata _heatmapmetadata { get; set; }
}
