@page "/"

<div class="markdown">

    <h1>henlo :3</h1>

    <p>
        ⚠ soon to be filled with content
    </p>

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum sapiente, consequuntur molestias, doloremque
        eius, eum impedit porro eveniet quae magni at voluptatum blanditiis autem adipisci ut natus obcaecati quam nam.
    </p>
</div>
