<div class="w-full justify-items-center grid p-8">
  <div class="animate-pulse font-thin tracking-tight text-xl my-16">
    Loading...
  </div>
  <div class="font-thin text-xs">
    this could take a few minutes, the dataset is quite large to parse
  </div>
</div>
