<div class="w-full justify-items-center grid p-8">
  <div class="mb-6">
      <div style="border-top-color:transparent" class="border-solid animate-spin rounded-full border-gray-400 border-4 h-10 w-10"></div>
  </div>
  <div class="font-thin text-sm">
    Loading...
  </div>
  <div class="font-thin text-xs mt-1">
    this could take a few minutes, the dataset is quite large to parse
  </div>
</div>
