@inherits LayoutComponentBase

<div class="container lg:max-w-screen-lg mx-auto">
    <header class="py-4 mx-4 flex flex-wrap space-x-1">
        <NavLink class="text-gray-600 dark:text-gray-400 font-extralight" href="">dashboardthingy</NavLink>
        <NavLink class="text-gray-600 dark:text-gray-400 font-extralight" href="covid19/highest25">covid19highest25</NavLink>
        <NavLink class="text-gray-600 dark:text-gray-400 font-extralight" href="covid19/heatmap">covid19heatmap</NavLink>

        <div class="flex-grow"></div>

        <div class="text-gray-300 dark:text-gray-700 font-extralight">v @ThisAssembly.AssemblyInformationalVersion</div>
    </header>

    <article class="mx-4">
        @Body
    </article>

    <footer class="py-4 mx-4 my-4 text-center text-xs font-thin">
        Website: &copy; 2021 azunyuuuuuuu - <a href="https://github.com/azunyuuuuuuu/datathingies">datathingies</a>
    </footer>
</div>
