@inherits LayoutComponentBase

<div class="container lg:max-w-screen-lg mx-auto">
    <header class="py-4 mx-4">
        <NavLink class="text-dark font-extralight" href="/">dashboardthingy</NavLink>
        <NavLink class="text-dark font-extralight" href="/covid19">covid19</NavLink>
    </header>

    <article class="mx-4">
        @Body
    </article>

    <footer class="py-4 mx-4 my-4 text-center text-xs font-thin">
        &copy; 2021 azunyuuuuuuu - datathingies
    </footer>
</div>
